{%extends 'templates/base.html'%}

{%block title%}Contact {%endblock%}

{%block content%}
    <div style="padding: 20px;">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis aperiam tempore labore placeat odit quae sapiente 
           dignissimos ab voluptas veniam, laborum quasi quidem odio, esse maxime, voluptates beatae? Esse in consectetur beatae corporis suscipit 
           dignissimos nam error minus itaque quaerat 
           ipsam libero amet omnis debitis, a odit necessitatibus laborum et?</p><br>
           
           <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis aperiam tempore labore placeat odit quae sapiente 
           dignissimos ab voluptas veniam, laborum quasi quidem odio, esse maxime, voluptates beatae? Esse in consectetur beatae corporis suscipit
           dignissimos nam error minus itaque quaerat 
           ipsam libero amet omnis debitis, a odit necessitatibus laborum et?
           </p>
    </div>
{%endblock%}