{%extends 'templates/base.html'%}

{%block title%}Projects {%endblock%}

{%block content%}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Projects</h1>
          <p class="lead text-muted">
            Welcome to a showcase of my passion and expertise in web development. This collection features a series of Django projects, 
            each a testament to my commitment to crafting elegant and functional solutions. As the creator, I've poured creativity and 
            meticulous attention to detail into every line of code, bringing these projects to life. From custom e-commerce platforms to feature-rich web applications, 
            explore the versatility and innovation embedded in each Django-powered creation. Join me on a journey through these projects, 
            where my dedication to excellence and love for elegant, scalable code shines through.
          </p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <h5 class="card-title">Chatroom</h5>
                <p class="card-text">Experience real-time communication with my Django-powered chatroom. Seamlessly designed and powered by Python, 
                                     it's where connection meets simplicity. 
                                     Join the conversation effortlessly and enjoy the fluidity of dynamic chat interactions.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <h5 class="card-title">Student Result Management System</h5>
                <p class="card-text">Discover simplicity and efficiency in my Django-based Student Result Management System. Streamlined to make academic 
                                     record-keeping a breeze, this project reflects my commitment to user-friendly design and seamless functionality. 
                                     Experience the ease of managing student results in a straightforward, purposeful system tailored for educational institutions</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <h5 class="card-title">Simple E- Mart</h5>
                <p class="card-text">Experience seamless online shopping with my Django-powered e-mart. This simple yet powerful platform combines intuitive design with 
                                     efficient functionality, offering a hassle-free shopping experience. Explore a curated selection of products and enjoy the ease of secure transactions, 
                                     all crafted with care for a smooth, user-friendly e-commerce experience.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
{%endblock%}